body { font-family: 'Gudea', sans-serif; }

.loginContent {
  box-shadow: black 0.5em 0.5em 0.3em 
  height: 400px;
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-200px; /* this is half the height of your div*/  
  margin-left:-200px; /*this is half of width of your div*/
  text-align: center;
  background-color: #f5f8fa;
  border-radius: 15px;
  width: 400px;
  padding: 20px;
}

.loginContent .demo {
  margin: 10px;
  padding: 10px;
}

.loginContent .demo img {
  height: 250px;
  box-shadow: gray 0.1em 0.1em 0.1em;
}

.spinner {
  text-align: center;
  display: none
}

.loading .loadMore {
  display: none
}

.loadMore {
  text-align: center;
  font-size: 20px;
  padding: 10px;
}

.loadMore a {
  text-decoration: none;
}

.loading .spinner {
  display: block;
}

.container {
  width: 600px;
  margin: 0 auto;
  background-color: #f5f8fa;
  padding:10px;
  border-radius: 15px;
}

.name {
color:grey;
font-size:24px;
float:right;
padding: 8px;
padding-right:0px;
}


.tweet {
  padding: 20px;
  border-bottom:1px dotted #55ACEE;

}

.tweet:hover {
  background-color:#ccd6dd;
}

/*.tweet a {
  text-align:center;
  color: #3C76E8;
  text-decoration: none;
  font-style: italic;
  font-weight: 400;
}*/

.text {
color:#292F33;
}

.links {
  padding-bottom: 16px;
}

.links a {
  color: #55ACEE;
  text-decoration: none;
  font-weight: 700;
}

.links a:hover {
  color: #55ACEE;
  text-decoration: underline;
}

.links a:visited {
  color: #55ACEE;
}

ol, ul {
list-style-type: none;
padding: 0px;
margin: 0px;
}

.li {
  display:block;
/*  width: 560px;*/
  padding-top:10px;
/*  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;*/
}

.time {
  font-size:12px;
  color:#99aab5;
  font-style: italic;
}

.time a {
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  color:#66757f;
}

.pocket-btn {
  margin-top: 10px;
}

.userHeader {
  padding: 10px;
  overflow: hidden;
}

.userHeader img {
  float: left;
  margin-right: 20px;
}

.about {
  padding: 20px;
  margin: 0 auto;
  width: 500px;
  text-align: center;
}

